/* Base styles */
.courses {

    .container {
        /* Container styles */
    }

    h1 {
        /* Heading styles */
    }

    form#form-filters {
        /* Form styles */

        select {
            /* Select styles */
        }

        .input-search-group {
            /* Search input group styles */

            input#searchQuery {
                /* Search input styles */
            }

            i.fa-regular.fa-search {
                /* Search icon styles */
            }
        }
    }

    .course-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-template-columns: (3, 1fr);
        margin-right: 10rem;
        margin-left: 10rem;

        .course {
            width: calc(33.33% - 10px); /* Anpassa bredden för varje kurs */
            margin-bottom: 20px; /* Justera marginalen mellan kurser */

            .bestseller {
                /* Bestseller badge styles */
            }

            .btn.btn-circle.bookmark {
                /* Bookmark button styles */
            }

            img {
                max-width: 100%; /* Begräns bildens bredd till 100% av dess förälders bredd */
                height: auto; /* Tillåt bildens höjd att justeras automatiskt för att behålla proportioner */
                max-height: 180px; /* Begräns maxhöjden på bilderna till 150px */
                width: 360px;
                object-fit: cover;
            }

            .content {
                margin-left: 40px;

                .title {
                    font-size: 16;
                    color: black;
                    font-weight: 700;
                    margin-top: 20px;
                }

                .author {
                    /* Author styles */
                }

                .pricing {
                    /* Pricing container styles */

                    .discount {
                        /* Discount price styles */
                    }

                    .price {
                        /* Price styles */
                    }
                }

                .footer {
                    /* Footer styles */

                    .hours {
                        /* Hours styles */
                    }

                    .likes {
                        /* Likes styles */
                    }
                }
            }
        }
    }
}
